<strong>Hi, {{provider}}</strong>
<p>There was an appointment cancellation. </p>
<p>Houve um cancelamento de horário. See details below: </p>
<p>
  <strong>Client: </strong>{{ user }} <br />
  <strong>Date/time: </strong>{{ date }} <br />
  <br />
  <small>
    The time is available again.
  </small>
</p>
